<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}"> <!--Pega a pagina de layout e monta com a de login-->
	
	<body>
	   <div layout:fragment="content"> <!-- Adiciona esse conteudo na pagina de layout -->
    <div>
        <h1>É hora de comer</h1>
        <form method="POST" action="">
            <fieldset id="fieldsetFiltros">
                <input type="text" name="busca" placeholder="Buscar por...">
                <input type="button" value="Procurar" />
            </fieldset>
        </form>
    </div>

    <div id="divCategoriasComidaGeral">

        <!-- th:each="" -> Vai iterar sobre cada categoria -- ${categorias} -> Lista de categorias que esta no Model -->
        <div id="divCategoriasComidaOpcao" th:each="categoria : ${categorias}">
            <a href="#">
                
                <!-- o tipo da imagem e categoria, o nome da imagem esta dentro do objeto da categoria. + ${categoria.imagem} -> Concatenando -->
                <img th:src="@{/images/categoria/} + ${categoria.imagem}" id="imgCategoriaComida" />
                <br />
                <span th:text="${categoria.nome}"></span>
            </a>
        </div>
    </div>

    <div style="padding-bottom: 15px;">
        <h1>Últimos pedidos</h1>
        <br/>
        <input type="button" value="#15456 McBlunalds"><br/>
        <input type="button" value="#89856 Free Food"><br/>
        <input type="button" value="#72132 Hard blue"><br/>
    </div>

    <div style="padding-bottom: 100px;">
        <h1>Conta</h1>
        <br/>
        <input type="button" value="Meus dados" th:onclick="'location.href=\'' + @{/cliente/edit} + '\';'"> <br/>
        <input type="button" value="Sair" th:onclick="'location.href=\'' + @{/logout} + '\';'"><br/>
    </div>
 </div>


</body>

</html>