<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}"> <!--Pega a pagina de layout e monta com a de login-->
	
	<body>
	   <div layout:fragment="content"> <!-- Adiciona esse conteudo na pagina de layout -->
         <div>
		        <h1>Cadastro de Cliente</h1>
		        <br/>
		
		        <!-- th:if-> se a expressão que tiver dentro for verdadeira a tag aparece, senão ela não aparece(Nem faz parte da pagina) -->
		        <div id="mensagemDeSucesso" th:if="${msg != null}">
		            <span th:text="${msg}"></span> <!-- Mostra a mensagem se for true -->
		        </div>
		        <br/>
		
		        <!-- @{/public/cliente/save}-> em caso de novo cadastro sera direcionado para essa URL(publica), senão edição sera redirecionado para @{/cliente/save} URL(Não publica, para usuario logado) -->
		        <form method="post" th:object="${cliente}" th:action="${!editMode} ? @{/public/cliente/save} : @{/cliente/save}">
		        <!-- th:object="${cliente}" -> mapeamento, pegando o nome da variavel associada na requisição -- "${cliente}" -> cliente e a mesma variavel passada no Model, classe PublicContrller --> 
		            <fieldset>
		            
		            <!-- Para editar e necessario capturar o ID do usuario, para que o ID não fique exposto na parte visual(TELA) é utilizado o campo do tipo type="hidden"-->
		                <input type="hidden" th:field="*{id}"/> <!-- "*{id}"-> Faz o binding para o atributo nome do objeto cliente -->
		
		                <label for="nome">Nome:</label><br/>
		                <input id="nome" type="text" name="nome" placeholder="Nome..." th:field="*{nome}"/> <br/><br/> <!-- Faz o binding para o atributo nome do objeto cliente -->
		
		                <div id="mesagemDeErro">
		                    Aqui vai um exemplo de mensagem de erro
		                </div><br/>
		
		                <label for="cpf">CPF:</label><br/>
		                <input id="cpf" type="text" name="cpf" placeholder="CPF..." th:field="*{cpf}"/> <br/><br/>
		
		                <label for="email">E-mail:</label><br/>
		                <input id="email" type="text" name="email" placeholder="E-mail..." th:field="*{email}"/> <br/><br/>
		
		                <label for="telefone">Telefone:</label><br/>
		                <input id="telefone" type="text" name="telefone" placeholder="Telefone..." th:field="*{telefone}"/> <br/><br/>
		
		                <label for="cep">CEP:</label><br/>
		                <input id="cep" type="text" name="cep" placeholder="CEP.." th:field="*{cep}"/><br/><br/>
		
		                <label for="senha">Senha:</label><br/>
		                <input id="senha" type="password" name="senha" placeholder="Senha..." th:field="*{senha}"/> <br/><br/>
		
		                <input type="submit" th:value="${!editMode} ? 'Cadastrar' : 'Alterar'"/> <!-- ${editMode}-> Recupera o valor do editMode de dentro do model. Se for true realiza o cadastro, senão(false) realiza a alteração -->
		
		            </fieldset>
		        </form><br/>
		
		        <input type="button" value="Voltar" onclick="location.href='index.html';">
		
		   </div>
       </div>
    </body>

</html>