<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/cliente/home}"> <!--Pega a pagina de layout e monta com a de login -- th:with="link=@{/cliente/home}" -> passa variaveis para o layout e o valor dela -->
	
	<body>
	   <!-- Adiciona esse conteudo na pagina de layout -->
	   <div layout:fragment="content"> 
    <!-- Cabeçalho fim -->

    <div>
        <h1>É hora de comer</h1>
        <form method="POST" action="">
            <fieldset id="fieldsetFiltros">
                <input type="text" name="busca" placeholder="Buscar por...">
                <input type="button" value="Procurar" />
            </fieldset>
        </form>
    </div>
    
    <div id="divCategoriasComidaGeral">

        <!-- th:each="" -> Vai iterar sobre cada categoria -- ${categorias} -> Lista de categorias que esta no Model -->
        <div id="divCategoriasComidaOpcao" th:each="categoria : ${categorias}">
            <a href="#">
                
                <!-- o tipo da imagem e categoria, o nome da imagem esta dentro do objeto da categoria. + ${categoria.imagem} -> Concatenando -->
                <img th:src="@{/images/categoria/} + ${categoria.imagem}" id="imgCategoriaComida" />
                <br />
                <span th:text="${categoria.nome}"></span>
            </a>
        </div>
    </div>

    <div>
        <h1>Resultados</h1>
        <fieldset id="fildsetPadrao">
            <legend >Filtros</legend>
            <input type="button" value="Entrega grátis"><br>
            <input type="button" value="Menor preço" id="inputSelecionado"> <input type="button" value="Maior preço"> <br>
            <input type="button" value="Menor taxa"> <input type="button" value="Maior taxa"> <br>
            <input type="button" value="Menor tempo"> <input type="button" value="Maior tempo"> <br>
        </fieldset>
    </div>

    <div>
        <div id="divRestauranteOpcao" th:each="restaurante : ${restaurantes}">
            <a href="#">
                <img th:src="@{/images/logotipo/} + ${restaurante.logotipo}" id="imgRestauranteOpcao"/>
                <br> <br>
                <span id="restauranteOpcaoTitulo" th:text="${restaurante.nome}"></span>
                <br>
                <!-- th:text="${restaurante.categoriasAsText}" -> chamando o metodo da classe Restaurante -->
                <span th:text="${restaurante.categoriasAsText}"></span>
                <br>
                <span th:text="'Tempo médio de entrega : ' + ${restaurante.tempoEntregaBase} + 'm'"></span>
                <br>
                
                <!-- ${#numbers.formatCurrency(restaurante.taxaEntrega)} -> Formata o valor para BR -->
                <span th:text="'Taxa de entrega:  : ' + ${#numbers.formatCurrency(restaurante.taxaEntrega)}"></span>
                <br>
            </a>
        </div>
        <br><br>

    </div>

    <input type="button" value="Voltar">
</div>

</body>

</html>