<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}"> <!--Pega a pagina de layout e monta com a de login-->
	
	<body>
	   <div layout:fragment="content"> <!-- Adiciona esse conteudo na pagina de layout -->
         <div>
		        <h1>Cadastro de Cliente</h1>
		        <br/>
		
		        <div id="mensagemDeSucesso">
		            Aqui vai um exemplo de mensagem de sucesso
		        </div> <br/> <br/>
		
		        <form method="post" th:object="${cliente}" th:action="@{/public/cliente/save}"> <!-- th:object="${cliente}" -> mapeamento, pegando o nome da variavel associada na requisição -- "${cliente}" -> cliente e a mesma variavel passada no Model, classe PublicContrller -->
		            <fieldset>
		
		                <label for="nome">Nome:</label><br/>
		                <input id="nome" type="text" name="nome" placeholder="Nome..." th:field="*{nome}"/> <br/><br/> <!-- Faz o binding para o atributo nome do objeto cliente -->
		
		                <div id="mesagemDeErro">
		                    Aqui vai um exemplo de mensagem de erro
		                </div><br/>
		
		                <label for="cpf">CPF:</label><br/>
		                <input id="cpf" type="text" name="cpf" placeholder="CPF..." th:field="*{cpf}"/> <br/><br/>
		
		                <label for="email">E-mail:</label><br/>
		                <input id="email" type="text" name="email" placeholder="E-mail..." th:field="*{email}"/> <br/><br/>
		
		                <label for="telefone">Telefone:</label><br/>
		                <input id="telefone" type="text" name="telefone" placeholder="Telefone..." th:field="*{telefone}"/> <br/><br/>
		
		                <label for="cep">CEP:</label><br/>
		                <input id="cep" type="text" name="cep" placeholder="CEP.." th:field="*{cep}"/><br/><br/>
		
		                <label for="senha">Senha:</label><br/>
		                <input id="senha" type="password" name="senha" placeholder="Senha..." th:field="*{senha}"/> <br/><br/>
		
		                <input type="submit" value="Cadastrar"/>
		
		            </fieldset>
		        </form><br/>
		
		        <input type="button" value="Voltar" onclick="location.href='index.html';">
		
		   </div>
       </div>
    </body>

</html>