<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/cliente/home}"> <!--Pega a pagina de layout e monta com a de login -- th:with="link=@{/cliente/home}" -> passa variaveis para o layout e o valor dela -->
	
	<body>
	   <!-- Adiciona esse conteudo na pagina de layout -->
	   <div layout:fragment="content"> 

    <div>
        <img th:src="@{/images/logotipo/} + ${restaurante.logotipo}" style="width: 200px;"/>
        <br><br>
        <span id="" th:text="${restaurante.nome}"></span> <br>
        <span id="" th:text="${restaurante.categoriasAsText}"></span> <br>
        <span id="" th:text="'Tempo médio de entrega: ' + ${restaurante.calcularTempoEntrega(cep)} + 'm' "></span> <br>
        <span id="" th:text="'Taxa de entrega: ' + ${#numbers.formatCurrency(restaurante.taxaEntrega)}"></span> <br>
    </div>
    <br>

	    <div>
	        <h1>Opções</h1>
	        <form id="filterForm" action="get" th:action="@{/cliente/restaurante}">
	        
	          <input type="hidden" id="categoria" name="categoria"/>
	           <input type="hidden" name="restauranteId" th:value="${restaurante.id}"/>
	          
		        <fieldset id="fildsetPadrao">
		            <legend>Filtros</legend>
		            <div style="display: inline;" th:each="categoria : ${categorias}">
		            
		              <!-- th:data-categoria="${categoria}" -> HTML 5 passa atributos extras dentro de uma TAG que pode ser recuperado e passado como parametro( No caso via javaScript ) this.getAttribute('data-categoria') -->
		              <input 
		                   th:id="${categoria == categoriaSelecionada} ? 'inputSelecionado' : '' "
			               type="button" 
			               th:value="${categoria}"
			               th:data-categoria="${categoria}" 
			               onclick="filterCardapio(this.getAttribute('data-categoria'));">
		            </div>
		        </fieldset>
	        </form>
	        <br>
	    </div>

    <div>
        <h1>Destaques</h1>
    </div>

	    <div id="" th:each="item : ${itensCardapioDestaque}" style="margin-top: 20px">
	        <div id="">
	        
	            <img th:src="@{/images/comida/} + ${item.imagem}" style="width: 150px;"/>
	            <br>
	            <span th:text="${item.nome}"></span>
	            <br>
	            <span th:text="${item.descricao}"></span>
	            <br>
	            <span th:text="${#numbers.formatCurrency(item.preco)}"></span>
	            <br>
	            
		            <form action="get" th:action="@{/cliente/carrinho/adicionar}">
		            
		              <input type="hidden" name="itemId" th:value="${item.id}">
		              
		                <label for="quantidade">Quantidade: </label>
		                <br>
		                <select name="quantidade" id="quantidade">
		                    <option>1</option>
		                    <option>2</option>
		                    <option>3</option>
		                    <option>4</option>
		                </select>
		                <br><br>
		                Observações:
		                <br>
		                <textarea name="observacoes" id="" cols="30" rows="5">
		
		                </textarea>
		                <br><br>
		                <input type="submit" value="Adicionar ao carrinho">
		                <br>
		            </form>
	        </div>
	     </div>
       
       <!-- Essa mensagem so aparece na tela se não existir itens em destaque -->
       <span th:if="${itensCardapioDestaque.size() == 0}">Não existem itens em destaque</span>
       
     <br>
        
        <div>
          <h1>Menu</h1>
        </div>
        
      <div id="" style="margin-top: 20px" th:each="item : ${itensCardapioNaoDestaque}">
        <div id="">
         
           <img th:src="@{/images/comida/} + ${item.imagem}" style="width: 150px;"/>
            <br>
            <span th:text="${item.nome}"></span>
            <br>
            <span th:text="${item.descricao}"></span>
            <br>
            <span th:text="${#numbers.formatCurrency(item.preco)}"></span>
            <br>
	            <form action="get" th:action="@{/cliente/carrinho/adicionar}">
	            
	                <label for="quantidade">Quantidade: </label>
	                <br>
	                <select name="quantidade" id="quantidade">
	                    <option >1</option>
	                    <option >2</option>
	                    <option >3</option>
	                    <option >4</option>
	                </select>
	                <br><br>
	                Observações:
	                <br>
	                <textarea name="observacoes" id="" cols="30" rows="5">
	
	                </textarea>
	                <br><br>
	                <input type="submit" value="Adicionar ao carrinho">
	                <br>
	                
	            </form>
        </div>
      </div>

    <input type="button" value="Voltar" th:onclick="'location.href=\'' + @{/cliente/home} + '\'; '">
    

  </div>

</body>

</html>