<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/cliente/home}"> <!--Pega a pagina de layout e monta com a de login -- th:with="link=@{/cliente/home}" -> passa variaveis para o layout e o valor dela -->
	
	<body>
	   <!-- Adiciona esse conteudo na pagina de layout -->
	   <div layout:fragment="content"> 
   
   <!-- id="form" -> nome do formulario, sera acessado por funções javaScript --> 	   
   <form method="get" th:object="${searchFilter}" th:action="@{/cliente/search}" id="form">
   
	                <!-- id="searchType" -> nome do input, sera acessado por funções javaScript -->             
	                <input id="searchType" type="hidden" th:field="*{searchType}"/> <!-- Campo de controle do filter para busca de texto, iterage com javaScript, não aparece na tela -->
	                
	                 <!-- id="categoriaId" -> nome do input, sera acessado por funções javaScript -->             
	                <input id="categoriaId" type="hidden" th:field="*{categoriaId}"/> <!-- Campo de controle do filter para busca de texto, iterage com javaScript, não aparece na tela -->
	    <div>
	        <h1>É hora de comer!</h1>
	        
	            <fieldset id="fieldsetFiltros">
	            
	                <!-- th:field="*{texto}" -> Quando o formulario for submetido sera capturado o valor digitado na caixa de texto e vai colocar dentro do atributo texto do objeto searchFilter-->            
	                <input type="text" th:field="*{texto}" placeholder="Buscar por...">
	                
	                <!-- onclick="searchRes(null);" -> função javaScript generica que identifica se a busca e por texto ou categoria para pesquisa e faz o submit -- NÃO FOI NECESSARIO O th:onclick PORQUE FOI UMA CHAMADA DIRETA DO JAVASCRIPT -->
	                <input type="button" value="Procurar" onclick="searchRes(null);"/>
	            </fieldset>
	        
	    </div>
	
	    <div id="divCategoriasComidaGeral">
	
	        <!-- th:each="" -> Vai iterar sobre cada categoria -- ${categorias} -> Lista de categorias que esta no Model -->
	        <div id="divCategoriasComidaOpcao" th:each="categoria : ${categorias}">
	        
	            <!-- submit do formulario atraves de um link -- AQUI E UTILIZADO O th:onclick="" PORQUE SERA CONCATENADO O ID DA CATEGORIA -->
	            <a href="#" th:onclick="'searchRes(' + ${categoria.id} + ');'" >
	                
	                <!-- o tipo da imagem e categoria, o nome da imagem esta dentro do objeto da categoria. + ${categoria.imagem} -> Concatenando -->
	                <img th:src="@{/images/categoria/} + ${categoria.imagem}" id="imgCategoriaComida" />
	                <br />
	                <span th:text="${categoria.nome}"></span>
	            </a>
	        </div>
	    </div>
    </form>

    <div style="padding-bottom: 15px; font-weight: bold; font-size: 13px;">
        <h1>Últimos pedidos</h1> <br/>
	        <div th:each="pedido : ${pedidos}">
	          <input type="button" th:value="${pedido.formattedId} + ' ' + ${pedido.restaurante.nome}" th:onclick="'location.href=\'' + @{/cliente/pedido/view} + '?pedidoId=' + ${pedido.id} + '\';'"> <br/>
	        </div>
	        <span th:if="${pedidos.size() == 0}">Não existe nenhum pedido anterior</span>
    </div>

    <div style="padding-bottom: 100px;">
        <h1>Conta</h1>
        <br/>
        <input type="button" value="Meus dados" th:onclick="'location.href=\'' + @{/cliente/edit} + '\';'"> <br/>
        <input type="button" value="Sair" th:onclick="'location.href=\'' + @{/logout} + '\';'"><br/>
    </div>
 </div>


</body>

</html>