<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}"> <!--Pega a pagina de layout e monta com a de login-->
	
	<body>
	   <div layout:fragment="content"> <!-- Adiciona esse conteudo na pagina de layout -->
		    <div>
		        <img id="imgIconeUsuario" th:src="@{/images/bf_usuario_azul2.png}"/>
		        <h1>Autenticação</h1>
		        <br>
		
		        <form method="POST" th:action="@{/login}">
		            <fieldset style="padding-top: 35px; border-radius: 20px;">
		                <input type="text" name="username" placeholder="E-mail..."/>
		                <input type="password" name="password" placeholder="Senha"/>
		                <input type="submit" value="Entrar"/>
		            </fieldset>
		        </form>
		        <br/><br/>
		
		        <div id="mesagemDeErro" th:if="${msg != null}">
		          <span th:text="${msg}"></span>
		        </div>
		        <br/><br/>
		
		        <form method="get" th:action="@{/public/cliente/new}">
		           <input type="submit" value="Gostaria de criar a minha conta de cliente">
		        </form>
		        <br>
		        <form method="get" th:action="@{/public/restaurante/new}">
		           <input type="submit" value="Gostaria de criar a minha conta de restaurante">
		        </form>
		        
		        <br/><br>
		        <input type="button" value="Gostaria de criar a minha conta de restaurante" onclick="location.href='restauranteCadastro.html';"/>
		    </div>
	   </div>
	</body>

</html>